$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/components-font-awesome/webfonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/fontawesome.scss";
@import "components-font-awesome/scss/fa-brands.scss";
@import "components-font-awesome/scss/fa-regular.scss";
@import "components-font-awesome/scss/fa-solid.scss";
// endbower

.navbar-brand {
  img {
    display: inline;
  }
}

.pointer { cursor: pointer; }

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.timeline-detail {
 padding:3rem 0
}
#timeline {
 margin-bottom:1rem
}
[class*=timeline-status-] p {
 margin:0;
 color:#fff;
 /*font-size:1.1rem;
 text-align:center
 text-transform:uppercase;*/
}
[class*=timeline-status-] {
 padding:1.6rem 0
}
.timeline-status-intransit {
 background-color:#65aee0
}
.timeline-status-outfordelivery {
 background-color:#f5a551
}
.timeline-status-deliveryoffice {
 background-color:#f7dc6f
}
.timeline-status-delivered {
 background-color:#4cbb87
}
.timeline-status-attemptfail {
 background-color:#b789c7
}
.timeline-status-error,.timeline-status-exception {
 background-color:#d26759
}
.timeline-status-expired {
 background-color:#616e7d
}
.timeline-status-pending {
 background-color:#ccc
}
.timeline-status-inforeceived {
 background-color:#214977
}
.timeline-list {
 border:1px solid #e5e5e5
}
.timeline-item {
 border-left:1px solid #e5e5e5;
 position:relative;
 padding:2rem 1.5rem .5rem 2.5rem;
 /*font-size:.9rem;*/
 
 margin-left:3rem;
 min-height:5rem
}
.timeline-item:last-child {
 padding-bottom:4rem
}
.timeline-item .timeline-date {
 margin-bottom:.5rem
}
.timeline-item .timeline-date span.light {
 color:#888;
 font-size:85%;
 padding-left:.4rem
}
.timeline-item .timeline-content {
 padding:.5rem .8rem;
 background-color:#f4f4f4;
 border-radius:.5rem
}
.timeline-item .timeline-content span.light {
 display:block;
 color:#888;
 /*font-size:85%;*/
}
.timeline-item .timeline-icon {
 line-height:2.6rem;
 position:absolute;
 left:-1.3rem;
 width:2.6rem;
 height:2.6rem;
 text-align:center;
 border-radius:50%;
 /*font-size:1.1rem;*/
 background-color:#fff;
 color:#fff
}
.timeline-item .timeline-icon.status-sponsored {
 background-color:#f68
}
.timeline-item .timeline-icon.status-delivered {
 background-color:#4cbb87
}
.timeline-item .timeline-icon.status-outfordelivery {
 background-color:#f5a551
}
.timeline-item .timeline-icon.status-deliveryoffice {
 background-color:#f7dc6f
}
.timeline-item .timeline-icon.status-attemptfail {
 background-color:#b789c7
}
.timeline-item .timeline-icon.status-exception {
 background-color:#d26759
}
.timeline-item .timeline-icon.status-inforeceived {
 background-color:#214977
}
.timeline-item .timeline-icon.status-intransit {
 color:#e5e5e5;
 border:1px solid #e5e5e5;
 /*font-size:.6rem;*/
}
@media(min-width:992px) {
 .timeline-item {
  margin-left:20rem
 }
 .timeline-item .timeline-date {
  position:absolute;
  left:-20rem;
  width:17.5rem;
  text-align:right
 }
 .timeline-item .timeline-date span {
  display:block
 }
 .timeline-item .timeline-content {
  padding:0;
  background-color:transparent
 }
}